@font-face {
    font-family:'Lato';
    src:url('http://straformation.fr/lesformations/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family:'Futura';
    src: url('http://straformation.fr/coursdelangue/futura-book.ttf') format('truetype');
}

#triangle1{
	height:0px;
	width:0px;
	border-top:70px solid #FE412E;
	border-right: 1532px solid transparent;
	float:left;
}

#titre_cdl{
	background-image:url(http://straformation.fr/coursdelangue/)
}
.template {
    border-collapse:collapse;
    border:0;
	width:90%;
	margin-left:5%
}
.logostra {
    height:40px;
	padding:7px 10px 0px 0px;
	margin-left:25px;
	display:inline-block;
}
.cart_button {
   background: #154265;
   background: -webkit-gradient(linear, left top, left bottom, from(#111111), to(#154265));
   background: -webkit-linear-gradient(top, #111111, #154265);
   background: -moz-linear-gradient(top, #111111, #154265);
   background: -ms-linear-gradient(top, #111111, #154265);
   background: -o-linear-gradient(top, #111111, #154265);
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 16px;
   font-family:Futura, Lato, OpenSans, Helvetica, Arial, sans-serif !important;
   text-decoration: none;
   vertical-align: middle;
   padding: 0px 5px 0px 2px;
   height:80%;
   margin-top:4px;
   cursor: pointer;
}
.cart_button:hover {
   border-top-color: #ffffff;
   background: #ffffff;
   color: #000000;
}

.cart_button:active {
   border-top-color: #f1ee95;
   background: #f1ee95;
}

.cart_button img{
	filter: invert(100%);
}

.cart_button:hover img, .cart_button:active img{
	filter: invert(0%);
}

.cart_button p{
	text-align: center;
	display: inline;
}

.display_cart{
	margin-right:10%;
	height:100%;
	display:block;
	float:right;
}

div#display_cart{
    display:none;
	z-index:100000;
	opacity:0.7;
}

div#display_cart{
	width:auto;
	height:auto;
	position: absolute;
	color:white;
	background-color: black;
	padding: 10px 10px 10px 10px;
	border-radius:5px;
}

.display_cart p{
	color:white;
	padding:0px 10px 0px 10px;
	margin: 10px 10px 10px 10px;
}

.titre {
	height:1050px;
}

h1 {
    padding-top:0px;
    text-align:left;
    color:#ffffff;
}
.headernoir{
	background-color:transparent;
	height:50px;
	width:100%;
	position:absolute;
}

.gauche{
    background-size:cover;
    background-position:center center;
    background-size:cover;
	background-image:url(http://straformation.fr/coursdelangue/cdl_img4.jpg);
	padding-top:50px;
	height:1100px;    
}

.drapeau {
    width:50%;
	cursor: pointer;
}

.textgauche {
    margin-bottom:50px;
    padding-top:50px;
    text-align:justify;
    width:auto;
/*     margin : 0 auto; */
    padding-left:60px;
    padding-right:20px;
    font-size:14px;
    color:#ffffff
}

.barre {
    background-color:#3F291E;
    background-size:auto contain;
    padding:1px;
}

h4 {
    text-align:justify
}

.titrewhite {
	font-size:30px;
}

.menuderoulant, .menuderoulant1, .menuderoulant2 {
    padding:5px 30px 5px 30px;
    color:#ffffff;
	cursor: pointer;
}



#nom_langue{
	text-align:center !important;
}

.menucomplet {
    padding : 0% 0% 0% 0%;
	width:100%;
	text-align: center;
}

.langue {
    text-align:center;
    float:right;
	margin-right:2%;
	margin-top:90px;
}

.barreresp {
    display : none;
    text-align:justify;
    
}

.tm-content {
	display:none;
}

.titrepop {
	font-size :22px;
	margin:0px;
	text-align:center;
}

.center {
    margin: 0 auto;
}

#content_infos{
	height: 800px;
	color:white;
	overflow-y:scroll;
	padding: 10px 10px 10px 10px;
}

#content_programme{
	height:800px;
	width:auto;
	color:white;
	display: none;
	overflow-y:scroll;
	padding: 10px 10px 10px 10px;
}

div#display_cart{
    display:none;
	z-index:1000;
	width:auto;
	height:auto;
	position: absolute;
	background-color: white;
	padding: 10px 10px 10px 10px;
	border-radius:5px;
	top:28px;
	border : 2px solid #FE412E;
	
}
div#display_cart { 
	position: relative;
	 background: #ffffff; 
	 border: 2px solid #FE412E; 
	}
div#display_cart:after, div#display_cart:before { 
	bottom: 100%; 
	left: 50%; 
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none; 	
}
div#display_cart:after { 
	border-color: rgba(255, 255, 255, 0); 
	border-bottom-color: #ffffff; 
	border-width: 30px; 
	margin-left: -30px; 
	}
.arrow_box:before { border-color: rgba(254, 65, 46, 0);
border-bottom-color: #FE412E;
border-width: 33px;
margin-left: -33px;
}

.display_cart p{
	color:white;
	padding:0px 10px 0px 10px;
	margin: 10px 10px 10px 10px;
}

.formationschoisies{
	color:black;
	font: 14px Open Sans, Arial;
	padding: 2px;
}

.cart_button {
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   color: white;
   font-size: 16px;
   font-family:Futura, Lato, OpenSans, Helvetica, Arial, sans-serif !important;
   text-decoration: none;
   vertical-align: middle;
   padding: 0px 5px 0px 2px;
   height:80%;
   margin-top:4px;
   cursor: pointer;
}
.cart_button:hover {
}

.cart_button:active {
}

.cart_button img{
	filter: invert(100%);
}

.cart_button:hover img, .cart_button:active img{
	filter: invert(0%);
}

.cart_button p{
	text-align: center;
	display: inline;
}

@media all and (max-width: 1024px){
    
    
    .barreresp {
        display:block !important;
        
    }
}

@media all and (max-width:959px){
    .logostra {
        display:none !important;
    }
    h1{    
        text-align:center;
    }
}

@media all and (max-width:580px) {
	.droite {
		width:97% !important;
		margin-top:0px !important;
	}
	.textwhite {
		font-size:12px !important;
		margin-left:10% !important;
		margin-right:10% !important;
	}
	.tabletarif {
		width: 100% !important;
		margin:0px !important;
	}
	.titrewhite {
		font-size:25px !important;
	}
	.gauche {
		padding-top:0px !important;
	}
	.tarifs {
		bottom:80px !important;
	}
	.langue {
		margin-top: 20px !important;
	}
	#informations_formations {
		width:100%;
		margin:0px;
		left:0px;
	}
	.bandeau {
		height:auto;
		
	}
	.menuderoulant1 {
		padding:0px !important;
	}
	.menuderoulant2 {
		padding:0px !important;
	}
	.menuderoulant3 {
		padding:0px !important;
	}
	#logo_pop {
		display:none !important;
	}
	.bandeau2td1 {
		width:100% !important;
	}
	.
}

.checkbox{
	
}
.overlay::-webkit-scrollbar { 
	display:none; 
}
#informations_formations {
	display:none;
	margin-top:90px
}
.overlay {
    /* must be initially hidden */
    display:none;
 
    /* place overlay on top of other elements */
    z-index:10000;
 
    /* styling */
    background-color:#ffffff;
    width:70%;
	height:590px;
    min-height:200px;
	top: 2%;
	left: 14%;
	bottom: 5%;
	min-height: 200px;
	position: absolute;
	opacity:1;
	margin-top:50px;
    /* CSS3 styling for latest browsers */
/*     -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000; */
	
/* 	padding: 10px 10px 10px 20px; */
	overflow-y: hidden;
	overflow-x: hidden;	
}

/* .menucomplet{ */
/* 		background-color:black; */
/* } */
.menuderoulant1 {
		color:white;
		font-size:17px;
		cursor: pointer;
		text-align: center;
		width: 33%;
		height:25px;
}

#menuderoulant1 {
	font-weight:Bold;
}

.menuderoulant2{
		color:white;
		font-size:17px;
		cursor: pointer;
		text-align: center;
		width: 33%;
		height:25px;
}
#menuderoulant2 {
	font-weight:normal;
}

.bandeau2td1 {
	height:61px;
	margin-left:10px;
	width:81%;
	padding-left:10px;
}

#print-button {
	display: none;
}

.bandeau2td2 {
	height:61px;
	text-align:center;
}

.bandeau2td3 {
	height:61px;
	width:30%;
	text-align:right;
	
}
.buttonpop {
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	color: #ffffff;
	font-size: 20px;
	background: #003B66;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	display:inline-block;
}

.buttonpop2 {
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	color: #ffffff;
	font-size: 20px;
	background: #003B66;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	display:inline-block;
}

.buttonpop:hover {
  background: #09324a;
  text-decoration: none;
}

.menuderoulant3 {
		color:white;
		font-size:17px;
		cursor: pointer;
		text-align: center;
		width: 33%;
		color: white;
		height:25px;
}
#menuderoulant3 {
	font-weight:normal;
}

#sharebut {
	width:10%;
}
#bandeau {
	font-family:Futura, Lato, OpenSans, Helvetica, Arial, sans-serif !important;
}
#bandeau2{
	font-family:Futura, Lato, OpenSans, Helvetica, Arial, sans-serif !important;
	margin-top:450px;
}
#printbut {
	color:#444444
}
#overlay {
    background-image:url(http://straformation.fr/coursdelangue/overlay.png);
    color:#efefef;
    height:450px;
}
#logo_pop {
	height:50%;
}

#pop_up {
	font-family:Futura, Lato, OpenSans, Helvetica, Arial, sans-serif !important;
}

#gris{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    background-color: black;
    filter: alpha(opacity=30);
    opacity: 0.6;
}
* html #gris {
    position: absolute;
}

.blockcategories {
	border:1px solid #CCCCCC;
	border-left:hidden;
	border-right:1px solid #CCCCCC;

}

#blockformations {
	border:1px solid #CCCCCC;
	border-left:0;
	background-color:#FFFFFF;
}
.blockcontenumobile{
	display:none;
}
#div_gen{
	display:block;
	color:black;
}
#div_prog{
	display:none;
	color:black;
}

#div_planning{
	display:none;
}
#search_form{
	display:inline-block;
	position:absolute;
	top:10px;
}
#showshare {
	text-align:right;
	float:right;
	width:100px;
}

a.twitter-share-button {
  display: inline-block;
  padding: 1px 3px 0 19px;
  border: #ccc solid 1px;
  border-radius: 3px;
  background: #f8f8f8 url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNzIgNzIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDcyIDcyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxyZWN0IHg9IjAiIGZpbGw9Im5vbmUiIHdpZHRoPSI3MiIgaGVpZ2h0PSI3MiIvPg0KPHBhdGggZmlsbD0iIzU1YWNlZSIgZD0iTTY4LjgxMiwxNS4xNDFjLTIuMzQ4LDEuMDM5LTQuODY5LDEuNzQzLTcuNTE5LDIuMDZjMi43MDMtMS42Miw0Ljc3OC00LjE4Nyw1Ljc1Ni03LjI0NGMtMi41MjksMS41LTUuMzMsMi41OTItOC4zMTMsMy4xNzYNCglDNTYuMzQ5LDEwLjU5MSw1Mi45NDgsOSw0OS4xODIsOWMtNy4yMjksMC0xMy4wOTIsNS44NjEtMTMuMDkyLDEzLjA5M2MwLDEuMDI2LDAuMTE4LDIuMDIxLDAuMzM4LDIuOTgxDQoJYy0xMC44ODUtMC41NDgtMjAuNTI4LTUuNzU3LTI2Ljk4Ny0xMy42NzljLTEuMTI2LDEuOTM2LTEuNzcxLDQuMTg0LTEuNzcxLDYuNTgxYzAsNC41NDIsMi4zMTIsOC41NTEsNS44MjQsMTAuODk4DQoJYy0yLjE0Ni0wLjA2OS00LjE2NS0wLjY1Ny01LjkzLTEuNjM4Yy0wLjAwMiwwLjA1NS0wLjAwMiwwLjExLTAuMDAyLDAuMTYyYzAsNi4zNDUsNC41MTMsMTEuNjM4LDEwLjUwNCwxMi44NA0KCWMtMS4xMDEsMC4yOTgtMi4yNTYsMC40NTctMy40NDksMC40NTdjLTAuODQ2LDAtMS42NjctMC4wNzgtMi40NjUtMC4yMzFjMS42NjcsNS4yLDYuNDk5LDguOTg2LDEyLjIzLDkuMDkNCgljLTQuNDgyLDMuNTEyLTEwLjEyOSw1LjYwNi0xNi4yNiw1LjYwNmMtMS4wNTUsMC0yLjA5Ni0wLjA2MS0zLjEyMi0wLjE4NGM1Ljc5NCwzLjcxNywxMi42NzYsNS44ODIsMjAuMDY3LDUuODgyDQoJYzI0LjA4MywwLDM3LjI1MS0xOS45NDksMzcuMjUxLTM3LjI0OWMwLTAuNTY2LTAuMDE0LTEuMTM0LTAuMDM5LTEuNjk0QzY0LjgzOCwyMC4wNjgsNjcuMDU4LDE3Ljc2NSw2OC44MTIsMTUuMTQxeiIvPg0KPC9zdmc+DQo=") 2px 3px no-repeat;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNzIgNzIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDcyIDcyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxyZWN0IHg9IjAiIGZpbGw9Im5vbmUiIHdpZHRoPSI3MiIgaGVpZ2h0PSI3MiIvPg0KPHBhdGggZmlsbD0iIzU1YWNlZSIgZD0iTTY4LjgxMiwxNS4xNDFjLTIuMzQ4LDEuMDM5LTQuODY5LDEuNzQzLTcuNTE5LDIuMDZjMi43MDMtMS42Miw0Ljc3OC00LjE4Nyw1Ljc1Ni03LjI0NGMtMi41MjksMS41LTUuMzMsMi41OTItOC4zMTMsMy4xNzYNCglDNTYuMzQ5LDEwLjU5MSw1Mi45NDgsOSw0OS4xODIsOWMtNy4yMjksMC0xMy4wOTIsNS44NjEtMTMuMDkyLDEzLjA5M2MwLDEuMDI2LDAuMTE4LDIuMDIxLDAuMzM4LDIuOTgxDQoJYy0xMC44ODUtMC41NDgtMjAuNTI4LTUuNzU3LTI2Ljk4Ny0xMy42NzljLTEuMTI2LDEuOTM2LTEuNzcxLDQuMTg0LTEuNzcxLDYuNTgxYzAsNC41NDIsMi4zMTIsOC41NTEsNS44MjQsMTAuODk4DQoJYy0yLjE0Ni0wLjA2OS00LjE2NS0wLjY1Ny01LjkzLTEuNjM4Yy0wLjAwMiwwLjA1NS0wLjAwMiwwLjExLTAuMDAyLDAuMTYyYzAsNi4zNDUsNC41MTMsMTEuNjM4LDEwLjUwNCwxMi44NA0KCWMtMS4xMDEsMC4yOTgtMi4yNTYsMC40NTctMy40NDksMC40NTdjLTAuODQ2LDAtMS42NjctMC4wNzgtMi40NjUtMC4yMzFjMS42NjcsNS4yLDYuNDk5LDguOTg2LDEyLjIzLDkuMDkNCgljLTQuNDgyLDMuNTEyLTEwLjEyOSw1LjYwNi0xNi4yNiw1LjYwNmMtMS4wNTUsMC0yLjA5Ni0wLjA2MS0zLjEyMi0wLjE4NGM1Ljc5NCwzLjcxNywxMi42NzYsNS44ODIsMjAuMDY3LDUuODgyDQoJYzI0LjA4MywwLDM3LjI1MS0xOS45NDksMzcuMjUxLTM3LjI0OWMwLTAuNTY2LTAuMDE0LTEuMTM0LTAuMDM5LTEuNjk0QzY0LjgzOCwyMC4wNjgsNjcuMDU4LDE3Ljc2NSw2OC44MTIsMTUuMTQxeiIvPg0KPC9zdmc+DQo=") 2px 3px no-repeat,
              -webkit-linear-gradient(#fff, #dedede);
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNzIgNzIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDcyIDcyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxyZWN0IHg9IjAiIGZpbGw9Im5vbmUiIHdpZHRoPSI3MiIgaGVpZ2h0PSI3MiIvPg0KPHBhdGggZmlsbD0iIzU1YWNlZSIgZD0iTTY4LjgxMiwxNS4xNDFjLTIuMzQ4LDEuMDM5LTQuODY5LDEuNzQzLTcuNTE5LDIuMDZjMi43MDMtMS42Miw0Ljc3OC00LjE4Nyw1Ljc1Ni03LjI0NGMtMi41MjksMS41LTUuMzMsMi41OTItOC4zMTMsMy4xNzYNCglDNTYuMzQ5LDEwLjU5MSw1Mi45NDgsOSw0OS4xODIsOWMtNy4yMjksMC0xMy4wOTIsNS44NjEtMTMuMDkyLDEzLjA5M2MwLDEuMDI2LDAuMTE4LDIuMDIxLDAuMzM4LDIuOTgxDQoJYy0xMC44ODUtMC41NDgtMjAuNTI4LTUuNzU3LTI2Ljk4Ny0xMy42NzljLTEuMTI2LDEuOTM2LTEuNzcxLDQuMTg0LTEuNzcxLDYuNTgxYzAsNC41NDIsMi4zMTIsOC41NTEsNS44MjQsMTAuODk4DQoJYy0yLjE0Ni0wLjA2OS00LjE2NS0wLjY1Ny01LjkzLTEuNjM4Yy0wLjAwMiwwLjA1NS0wLjAwMiwwLjExLTAuMDAyLDAuMTYyYzAsNi4zNDUsNC41MTMsMTEuNjM4LDEwLjUwNCwxMi44NA0KCWMtMS4xMDEsMC4yOTgtMi4yNTYsMC40NTctMy40NDksMC40NTdjLTAuODQ2LDAtMS42NjctMC4wNzgtMi40NjUtMC4yMzFjMS42NjcsNS4yLDYuNDk5LDguOTg2LDEyLjIzLDkuMDkNCgljLTQuNDgyLDMuNTEyLTEwLjEyOSw1LjYwNi0xNi4yNiw1LjYwNmMtMS4wNTUsMC0yLjA5Ni0wLjA2MS0zLjEyMi0wLjE4NGM1Ljc5NCwzLjcxNywxMi42NzYsNS44ODIsMjAuMDY3LDUuODgyDQoJYzI0LjA4MywwLDM3LjI1MS0xOS45NDksMzcuMjUxLTM3LjI0OWMwLTAuNTY2LTAuMDE0LTEuMTM0LTAuMDM5LTEuNjk0QzY0LjgzOCwyMC4wNjgsNjcuMDU4LDE3Ljc2NSw2OC44MTIsMTUuMTQxeiIvPg0KPC9zdmc+DQo=") 2px 3px no-repeat,
              linear-gradient(#fff, #dedede);
  background-size: 16px 13px, auto auto;
      font: bold 11px/17px Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  white-space: nowrap;
}

a.twitter-share-button:focus {
  outline: none;
  border-color: #0089cb;
}

.droite {
	float:left;
	width:47%;
	margin-left:3%;
	margin-top:50px;
}

.textwhite {
	color:white;
	font-size:18px;
	text-align:justify;
}

.texttarifs {
	color:black;
	font-size:18px;
}
.tarifs {
	text-align:center;
	position:relative;
	bottom:30px;
	font-family:Futura, Lato, OpenSans, Helvetica, Arial, sans-serif !important;
	
}
.tdinside1 {
	color:white;
	background-color:#4F81BD;
	border:1px solid black;
}

.tdinside {
	color:black;
	background-color:transparent;
	border:1px solid black;
}
.tabletarif {
	text-align:center;
	border:1px solid blue;
	width:600px;
	margin-left:30%;
}